<!-- Footer Start -->
<footer class="metro_footer metro_footer-dark">

    <!-- Top Footer -->
    <div class="container">
      <div class="metro_footer-top">
        <div class="metro_footer-logo">
          <img src="/assets/img/logo/EzRecipe-logos/EzRecipe.png" alt="logo">
        </div>
      </div>
    </div>

    <!-- Middle Footer -->
    <div class="metro_footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
            <h5 class="widget-title">About Us</h5>
            <p>Sorem ipsum dolor amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam</p>
          </div>
          <div class="offset-lg-2 col-lg-3 col-md-12 col-sm-12 footer-widget">
            <h5 class="widget-title">Quick Links</h5>
            <ul>
              <li> <a href="recipe-grid.html">Recipes</a> </li>
              <li> <a href="contact-us.html">Contact Us</a> </li>
              <li> <a href="team.html">Our Team</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="metro_footer-bottom">
      <div class="container">
        <div class="metro_footer-copyright">
          <p> Copyright © 2021 SIT All Rights Reserved. </p>
        </div>
      </div>
    </div>

  </footer>
  <!-- Footer End -->