<!-- Aside (Mobile Navigation) -->
<aside class="metro_aside metro_aside-left">
    <a class="navbar-brand" href="/index"> <img src="/assets/img/logo/EzRecipe-logos/EzRecipe.png" alt="logo"> </a>

    <ul>
        <li class="menu-item menu-item-has-children">
            <a href="#">Home Pages</a>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="all-recipes.html">Recipes</a>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="contact-us.html">Contact Us</a>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="team.html">Team</a>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="search-by-Ingredient.html">Search By Ingredient</a>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="/accounts">Sign In</a>
        </li>
    </ul>

</aside>
<div class="metro_aside-overlay aside-trigger-left"></div>

<!-- Header Start -->
<header class="metro_header header-1 can-sticky">

    <!-- Top Header Start -->
    <div class="metro_header-middle">
        <div class="container">
            <nav class="navbar  d-inline-block" style="padding: 0%;">
                <!-- Logo -->
                <a class="navbar-brand" href="/index"> <img src="/assets/img/logo/EzRecipe-logos/EzRecipe.png"
                        alt="logo">
                </a>
            </nav>


            <!-- Call to Action -->
            <div class="metro_header-controls">
                <div class="aside-toggler aside-trigger-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- Menu Bar -->
            <div class="d-none d-xl-inline-block rigth-menu">
                <a class="signin" href="/accounts">Sign In</a>

            </div>
        </div>
    </div>
    <!-- Middle Header End -->

    <!-- Bottom Header Start -->
    <div class="metro_header-bottom">
        <div class="container">
            <div class="metro_header-bottom-inner">
                <!-- Side navigation toggle -->
                <div class="aside-toggler aside-trigger-right desktop-toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- Menu Bar -->
                <ul class="navbar-nav">
                    <li class="menu-item menu-item-has-children">
                        <a href="/index">Home Pages</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="all-recipes.html">Recipes</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="contact-us.html">Contact Us</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="team.html">Team</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/searchByIngredients">Search By Ingredient</a>
                    </li>

                </ul>
                <ul class="metro_header-bottom-sm metro_sm">
                    <li> <a href="#">Search</a>
                        <input id="searchField" type="text" placeholder="Recipe Name" name="searchField">
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- Bottom Header End -->
</header>
<!-- Header End -->