<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('meta.ejs') %>

</head>

<body>

    <%- include('header.ejs') %>


        <!-- Subheader Start -->
        <div class="metro_subheader dark-overlay dark-overlay-2"
            style="background-image: url(../assets/img/banners/banner-1.jpg)">
            <div class="container">
                <div class="metro_subheader-inner">
                    <h1>
                        Searched Results
                    </h1>
                    <nav aria-label="breadcrumb">
                    </nav>
                </div>
            </div>
        </div>
        <!-- Subheader End -->

        <!-- Post Content Start -->
        <div id=body_content class="section metro_post-single">
            <div class="container">

            </div>
        </div>
        <!-- Product Content End -->

        <%- include('footer.ejs') %>

            <!-- Vendor Scripts -->
            <script src="../assets/js/plugins/jquery-3.4.1.min.js"></script>
            <script src="../assets/js/plugins/popper.min.js"></script>
            <script src="../assets/js/plugins/waypoint.js"></script>
            <script src="../assets/js/plugins/bootstrap.min.js"></script>
            <script src="../assets/js/plugins/jquery.magnific-popup.min.js"></script>
            <script src="../assets/js/plugins/jquery.slimScroll.min.js"></script>
            <script src="../assets/js/plugins/imagesloaded.min.js"></script>
            <script src="../assets/js/plugins/jquery.steps.min.js"></script>
            <script src="../assets/js/plugins/jquery.countdown.min.js"></script>
            <script src="../assets/js/plugins/isotope.pkgd.min.js"></script>
            <script src="../assets/js/plugins/slick.min.js"></script>
            <script src="../assets/js/plugins/ion.rangeSlider.min.js"></script>
            <script src="../assets/js/plugins/jquery.zoom.min.js"></script>


            <!-- Organista Scripts -->
            <script src="../assets/js/main.js"></script>


            <script>

                function createCard(cardData) {
                    console.log("Creating Card")
                    if (!cardData.image) {
                        cardData.image = '/assets/img/noImageAvailable.png'
                    }
                    var cardTemplate = [
                        '<div class="card recipe-list">',
                        '<a id ="recipes" href="/recipes?recipeID=' + cardData.recipeID+'">',
                        '<div class="row">',
                        '<div class="col recipe-col-img">',
                        '<img src="',
                        cardData.image.split(", ")[0] || '/assets/img/noImageAvailable.png',
                        '" alt="recipe">',
                        '</div>',
                        '<div class="col recipe-col-detail">',
                        '<p id="recipeName">',
                        cardData.recipeName || 'No recipe Name provided',
                        '</p>',
                        '<p id="recipeAuthor">',
                        cardData.authorName || 'No author provided',
                        '</p>',
                        '<p id="recipeRating">',
                        cardData.aggregatedRating || 'No Rating provided',
                        '/5</p>',
                        '<div id="recipeDescription">',
                        '<span>',
                        cardData.description || 'No Rating provided',
                        '</span></div></div></div></a></div>'
                    ];

                    // a jQuery node
                    return $(cardTemplate.join(''));
                }

                window.onload = function () {

                    var urlParams = new URLSearchParams(window.location.search);
                    console.log(urlParams.has('search')); // true
                    if (urlParams.has('search')) {
                        var query = urlParams.get('search')

                        console.log(query)

                        $.ajax({
                            type: "POST",
                            url: "/index/search",
                            data: {
                                search: query
                            },
                            success: function (result) {

                                //populate page using jqury
                                var cards = $();
                                // Store all the card nodes
                                console.log(result);
                                result.forEach(function (item, i) {
                                    cards = cards.add(createCard(item));
                                    console.log("HIT")
                                });

                                // Add them to the page... for instance the <body>
                                $(function () {
                                    $('#body_content').append(cards);
                                });
                            }
                        });
                    }
                };

                $(document).keyup(function (event) {
                    if ($("#searchField").is(":focus") && event.key == "Enter") {
                        window.location.replace("/recipes/search-result?search=" + $("#searchField").val())
                    }
                });

            </script>
</body>

</html>