<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('meta.ejs') %>

</head>

<body>

    <%- include('header.ejs') %>

    <!-- Account Detail Start -->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">My Account</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">USER INFORMATION</h6>
                        </div>
                        <div class="card-body">
                            <form class="row g-3">
                                <div class="col-6">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control" value="@jhon" readonly>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Email address</label>
                                    <input type="text" class="form-control" value="xyz@example.com">
                                </div>
                                <div class="col-6 mt-2">
                                    <label class="form-label">First Name</label>
                                    <input type="text" class="form-control" value="jhon">
                                </div>
                                <div class="col-6 mt-2">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" class="form-control" value="">
                                </div>
                                <div class="col-6 mt-2">
                                    <label class="form-label">New Password</label>
                                    <input type="password" class="form-control" value="">
                                </div>
                                <div class="col-6 mt-2">
                                    <label class="form-label">Confirm New Password</label>
                                    <input type="password" class="form-control" value="">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-start d-inline-block">
                        <button type="button" class="btn btn-primary px-4">Save Changes</button>
                    </div>
                    <div class="text-start d-inline-block">
                        <button type="button" class="btn btn-danger px-4">Delete Account</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Account Detail End -->

    <%- include('footer.ejs') %>

    <!-- Vendor Scripts -->
    <script src="assets/js/plugins/jquery-3.4.1.min.js"></script>
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/waypoint.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.slimScroll.min.js"></script>
    <script src="assets/js/plugins/imagesloaded.min.js"></script>
    <script src="assets/js/plugins/jquery.steps.min.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>


    <!-- Organista Scripts -->
    <script src="assets/js/main.js"></script>

</body>

</html>