<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EzRecipe</title>

    <!-- Bootstrap CSS -->
    <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/plugins/bootstrap-extended.css" rel="stylesheet" />

    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css">

    <!-- Icon Fonts -->
    <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">

    <!-- Organista Style sheet -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>

<body>

    <!-- Aside (Mobile Navigation) -->
    <aside class="metro_aside metro_aside-left">
        <a class="navbar-brand" href="index.html"> <img src="assets/img/logo/EzRecipe-logos/EzRecipe.png" alt="logo">
        </a>

        <ul>
            <li class="menu-item menu-item-has-children">
                <a href="index.html">Home Pages</a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a href="all-recipes.html">Recipes</a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a href="contact-us.html">Contact Us</a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a href="team.html">Team</a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a href="search.html">Search</a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a href="login.html">Sign In</a>
            </li>
        </ul>

    </aside>
    <div class="metro_aside-overlay aside-trigger-left"></div>

    <!-- Header Start -->
    <header class="metro_header header-1 can-sticky">

        <!-- Top Header Start -->
        <div class="metro_header-middle">
            <div class="container">
                <nav class="navbar  d-inline-block" style="padding: 0%;">
                    <!-- Logo -->
                    <a class="navbar-brand" href="index.html"> <img src="assets/img/logo/EzRecipe-logos/EzRecipe.png"
                            alt="logo">
                    </a>
                </nav>


                <!-- Call to Action -->
                <div class="metro_header-controls">
                    <div class="aside-toggler aside-trigger-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- Menu Bar -->
                <div class="d-none d-xl-inline-block rigth-menu">
                    <a class="signin" href="login.html">Sign In</a>

                </div>
            </div>
        </div>
        <!-- Middle Header End -->

        <!-- Bottom Header Start -->
        <div class="metro_header-bottom">
            <div class="container">
                <div class="metro_header-bottom-inner">
                    <!-- Side navigation toggle -->
                    <div class="aside-toggler aside-trigger-right desktop-toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- Menu Bar -->
                    <ul class="navbar-nav">
                        <li class="menu-item menu-item-has-children">
                            <a href="index.html">Home Pages</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="all-recipes.html">Recipes</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="contact-us.html">Contact Us</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="team.html">Team</a>
                        </li>
                    </ul>
                    <ul class="metro_header-bottom-sm metro_sm">
                        <li> <a href="#"> <i class="fas fa-search"></i> Search</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Bottom Header End -->

    </header>
    <!-- Header End -->

    <!-- Account Detail Start -->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">My Account</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">USER INFORMATION</h6>
                        </div>
                        <div class="card-body">
                            <form class="row g-3">
                                <div class="col-6">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control" value="@jhon" readonly>
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Email address</label>
                                    <input type="text" class="form-control" value="xyz@example.com">
                                </div>
                                <div class="col-6 mt-2">
                                    <label class="form-label">First Name</label>
                                    <input type="text" class="form-control" value="jhon">
                                </div>
                                <div class="col-6 mt-2">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" class="form-control" value="">
                                </div>
                                <div class="col-6 mt-2">
                                    <label class="form-label">New Password</label>
                                    <input type="password" class="form-control" value="">
                                </div>
                                <div class="col-6 mt-2">
                                    <label class="form-label">Confirm New Password</label>
                                    <input type="password" class="form-control" value="">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-start d-inline-block">
                        <button type="button" class="btn btn-primary px-4">Save Changes</button>
                    </div>
                    <div class="text-start d-inline-block">
                        <button type="button" class="btn btn-danger px-4">Delete Account</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Account Detail End -->

    <!-- Footer Start -->
    <footer class="metro_footer metro_footer-dark">

        <!-- Top Footer -->
        <div class="container">
            <div class="metro_footer-top">
                <div class="metro_footer-logo">
                    <img src="assets/img/logo/EzRecipe-logos/EzRecipe.png" alt="logo">
                </div>
            </div>
        </div>

        <!-- Middle Footer -->
        <div class="metro_footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                        <h5 class="widget-title">About Us</h5>
                        <p>Sorem ipsum dolor amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore
                            magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                    <div class="offset-lg-2 col-lg-3 col-md-12 col-sm-12 footer-widget">
                        <h5 class="widget-title">Quick Links</h5>
                        <ul>
                            <li> <a href="recipe-grid.html">Recipes</a> </li>
                            <li> <a href="contact-us.html">Contact Us</a> </li>
                            <li> <a href="team.html">Our Team</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="metro_footer-bottom">
            <div class="container">
                <div class="metro_footer-copyright">
                    <p> Copyright © 2021 SIT All Rights Reserved. </p>
                </div>
            </div>
        </div>

    </footer>
    <!-- Footer End -->

    <!-- Vendor Scripts -->
    <script src="assets/js/plugins/jquery-3.4.1.min.js"></script>
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/waypoint.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.slimScroll.min.js"></script>
    <script src="assets/js/plugins/imagesloaded.min.js"></script>
    <script src="assets/js/plugins/jquery.steps.min.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>


    <!-- Organista Scripts -->
    <script src="assets/js/main.js"></script>

</body>

</html>